---
import Layout from '../layouts/Layout.astro';
import Title from '../components/Title.astro';
import Timeline from '../components/Timeline.astro';
import TimelineItem from '../components/TimelineItem.astro';
---

<Layout title="osu! game Discord events.">
	<Title>osu! Game Discord Events</Title>
	<p class="mb-10">
		At the <a class="underline" href="https://discord.gg/osu">unofficial osu! game community discord server</a>,
		every once in a while we hold some multiplayer events.
		This is an archive of the leaderboards for each of them.
	</p>
	<Timeline>
		<TimelineItem
			title="osu! Event #3 - Rhythm of the Past"
			date="2024-02-17"
			link="/event-3"
		>
			In this event we celebrated osu!lazer finally enabling PP.
			20 different maps were played as we revisited old, historic,
			iconic or otherwise notable maps, discussed some osu! history
			between maps and had a lot of fun. The event took ~2.5 hours.
		</TimelineItem>

		<TimelineItem
			title="osu! Event #2 - Halloween"
			date="2022-10-31"
			link="/event-2-halloween"
		>
			On this Halloween night, 19 different maps were played for
			over ~2.5 hours by players across two lobbies. The Halloween
			themed maps started at 4.5* and ramped up to 7.5* by the end,
			good time was had by all.
		</TimelineItem>

		<TimelineItem
			title="osu! Event #1"
			date="2022-01-23"
			link="/event-1"
		>
			Our first ever multiplayer event. There were two lobbies
			for osu! (standard) and one lobby for osu!mania.
		</TimelineItem>
	</Timeline>
</Layout>